<p id="notice"><%= notice %></p>

<h1>Wines</h1>
<div class="card">
  <div class="card-body">
    <%= turbo_frame_tag 'wines' do %>
      <%= render partial: 'wines/links' %>
      <%= render partial: 'wines/details_table', locals: {wines: @wines} %>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Wine', new_wine_path, class: 'btn btn-sm btn-secondary' %>


