<p id="notice"><%= notice %></p>

<div class="max-w-max mx-auto flex p-6 bg-white rounded-lg shadow-xl">
    <%= turbo_frame_tag 'wines' do %>
      <%= render partial: 'wines/links' %>

      <%= render partial: 'wines/details_table', locals: {wines: @wines} %>
    <% end %>
</div>

<br>

<%= link_to 'New Wine', new_wine_path, class: 'btn btn-sm btn-secondary' %>


